.mPage{
    border: 3px solid black;
    width: 1510px;
    height: 730px;
    overflow: hidden;
}

.nav{
    border: 3px solid black;
    width: 1490px;
    height: 50px;
    margin-top: 4px;
    margin-left: 6px;
    background-color: blue;

}
.menuIcon{
    /* border: 3px solid black; */
    width: 50px;
    height: 45px;
    background-image: url('menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.menuIcon:hover{
    background-color: blueviolet;
}

.tabs{
    /* border: 3px solid black; */
    width: 1420px;
    height: 45px;
    display: inline-block;
}
.logo{
    float: left;
    width: 55px;
    height: 50px;
    background-image: url('logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.drpComp{
    position: relative;
    display: inline-block;
}
.drp1{
    margin-left: 4px;
    float: left;
    width: 100px;
    height: 45px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.drp1:hover{
    background-color: rgb(116, 116, 187);
}
.drpContent{
    text-decoration: none;
    width: 50px;
    position: absolute;
    padding: 8px;
    margin-top: 48px;
    margin-left: 110px;
    display: none;
    background-color: rgb(224, 221, 215);
}
a{
    /* padding: 6px; */
    width: 50px;
    text-decoration: none;
    /* border: 1px solid black; */
}
a:hover{
    background-color: white;
    width: 50px;
}
.show{
    display: block;
}
.crtBtn{
    float: left;
    width: 100px;
    height: 45px;
    border-radius: 7px;
    background-color: rgb(0, 153, 255);
    color: white;
}
.crtBtn:hover{
    background-color: rgb(135, 174, 226);
}
.searchBar{
    float: left;
    border-radius: 5px;
    height: 30px;
    margin-left: 12px;
    margin-top: 4px;
    color: white;
    background-color: rgba(202, 202, 223, 0.986);
    background-image: url('find-and-replace.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.speak{
    float: left;
    border: 2px solid black;
    margin-top: 4px;
    margin-left: 30px;
    width: 40px;
    height: 35px;
    background-image: url('announce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.profile{
    float: right;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 4px;
    background-color: white;
    background-image: url('oggy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.leftNav{
    /* border: 3px solid black; */
    width: 200px;
    height: 650px;
    margin-top: 3px;
    margin-left: 6px;
    display: inline-block;
}

.contentPage{
    border: 3px solid black;
    width: 1270px;
    height: 650px;
    margin-top: 3px;
    margin-left: 6px;
    display: inline-block;
}
.leftNavTask{
    float: left;
    text-align: left;
    border: 2px solid black;
    width: 190px;
    height: 30px;
    margin-top: 3px;
    margin-left: 2px;
    overflow: hidden;
    background-color: rgb(161, 183, 212);
}

.tskToggle{
    width: 190px;
    height: 208px;
}
.addTask{
    width: 90px;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(0, 153, 255);
    color: white;
}

.contentBox{
    text-align: center;
    border: 2px solid black;
    float: left;
    width: 300px;
    height: 640px;
    margin-top: 5px;
    margin-left: 4px;
    background-color: cornflowerblue;
   
}

.descriptBox{
    text-align: center;
    border: 1px solid black;
    box-shadow: 3px;
    float: left;
    width: 335px;
    height: 640px;
    margin-top: 5px;
    margin-left: 4px;
    background-color: rgb(203, 217, 241);
   
}

.childBox{
    overflow: scroll;
    height: 555px;
    background-color: white;
}

.taskRow{
    border: 1px solid rgb(94, 91, 91);
    height: 63px;
    margin-top: 2px;
}
.hide{
    display: none;
}

.desBox{
    text-align: left;
    margin-left: 3px;
}